@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.ajax-loader,
.ajax-loader2,
.ajax-loader3,
.ajax-loader4 {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 3rem; /* Adjust this as needed */
  width: 1em;
  height: 3em;
  color: #d31145; /* Adjust this color as needed */

  .paw {
    width: 1.5em;
    height: 1em;
    animation: pawAnimation 2.05s ease-in-out infinite;
    opacity: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    .icon {
      fill: #d31145; /* Adjust this color as needed */
    }

    &:nth-child(odd) {
      transform: rotate(15deg);
    }

    &:nth-child(even) {
      transform: rotate(15deg) scaleX(-1) translate(5%, -70%);
    }

    &:nth-child(2n) {
      animation-delay: -0.25s;
    }

    &:nth-child(3n) {
      animation-delay: -0.5s;
    }

    &:nth-child(4n) {
      animation-delay: -0.75s;
    }

    &:nth-child(5n) {
      animation-delay: -1s;
    }

    &:nth-child(6n) {
      animation-delay: -1.25s;
    }

    &:nth-child(7n) {
      animation-delay: -1.5s;
    }

    &:nth-child(8n) {
      animation-delay: -1.75s;
    }

    &:nth-child(9n) {
      animation-delay: -2s;
    }

    &:nth-child(10n) {
      animation-delay: -2.25s;
    }
    &:nth-child(11n) {
      animation-delay: -2.5s;
    }
    &:nth-child(12n) {
      animation-delay: -2.75s;
    }

    .no-cssanimations & {
      opacity: 1;
    }
  }
}

.ajax-loader {
  top: 45%;
  right: 5%;
  transform: rotate(30deg) translate(-50%, 0%);
}
.ajax-loader2 {
  top: 45%;
  right: 15%;
  transform: rotate(-30deg) translate(-50%, 0%);
}

.ajax-loader3 {
  top: 85%;
  left: 30%;
  transform: rotate(150deg) translate(-50%, 0%);
}

.ajax-loader4 {
  top: 85%;
  right: 35%;
  transform: rotate(200deg) translate(-50%, 0%);
}

.second-set,
.second-set2,
.second-set3,
.second-set4 {
  position: absolute;
  transform-origin: 50% 50%;
  font-size: 3rem; /* Adjust this as needed */
  width: 1em;
  height: 3em;
  color: #d31145; /* Adjust this color as needed */
}

.second-set .paw {
  width: 1.5em;
  height: 1em;
  animation: pawAnimation 2.05s ease-in-out infinite;
  opacity: 0;

  svg {
    width: 100%;
    height: 100%;
  }

  .icon {
    fill: #d31145;
  }

  &:nth-child(odd) {
    transform: rotate(15deg);
  }

  &:nth-child(even) {
    transform: rotate(15deg) scaleX(-1) translate(5%, -70%);
  }

  &:nth-child(2n) {
    animation-delay: -0.25s;
  }

  &:nth-child(3n) {
    animation-delay: -0.65s;
  }

  &:nth-child(4n) {
    animation-delay: -1.25s;
  }

  &:nth-child(5n) {
    animation-delay: -1.65s;
  }

  &:nth-child(6n) {
    animation-delay: -2.05s;
  }

  &:nth-child(7n) {
    animation-delay: -2.45s;
  }

  &:nth-child(8n) {
    animation-delay: -2.85s;
  }

  &:nth-child(9n) {
    animation-delay: -3.25s;
  }

  &:nth-child(10n) {
    animation-delay: -2.25s;
  }
  &:nth-child(11n) {
    animation-delay: -2.5s;
  }
  &:nth-child(12n) {
    animation-delay: -2.75s;
  }

  .no-cssanimations & {
    opacity: 1;
  }
}

.second-set {
  top: 25%;
  left: 10%;
  transform: rotate(20deg) translate(-50%, 0%);
}

.second-set2 {
  top: 25%;
  right: 15%;
  transform: rotate(-20deg) translate(-50%, 0%);
}

.second-set3 {
  top: 85%;
  left: 30%;
  transform: rotate(150deg) translate(-50%, 0%);
}

.second-set4 {
  top: 85%;
  right: 35%;
  transform: rotate(200deg) translate(-50%, 0%);
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
